<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieDescriptor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9ABB84B51C4F046200F93D51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ABB84C91C4F046200F93D51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ABB84D41C4F046200F93D51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
